<%= form_with(model:[section, screencast], local: true) do |form| %>
  <% if screencast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(screencast.errors.count, "error") %> prohibited this screencast from being saved:</h2>

      <ul>
      <% screencast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :no %>
    <%= form.text_field :no, id: :screencast_no , class:"form-control"%>
  </div>
  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :screencast_name , class:"form-control"%>
  </div>

  <div class="field form-group">
    <%= form.label :logo %>
    <%= form.file_field :logo, id: :screencast_video , class:"form-control"%>
  </div>

  <div class="field form-group">
    <%= form.label :video %>
    <%= form.file_field :video, id: :screencast_video , class:"form-control"%>
  </div>

  <div class="field form-group">
    <%= form.label :q_count %>
    <%= form.text_field :q_count, id: :screencast_questions_count , class:"form-control"%>
  </div>

  <div class="field form-group">
    <div class="checkbox-inline">
      <%= form.check_box :free %>
      <%= form.label :free, "free" %><br>
    </div>
  </div>

  <div class="actions">
    <%= form.submit  class:"btn btn-outline-primary" %>
<%= link_to 'Back',section||screencast,class:"btn btn-outline-primary" %>
  </div>
<% end %>
