<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header">SCREENCASTS OF 
    <%= link_to @screencast.section.name, @screencast.section %>
  </div>
  <div class="card-body">
    <%= image_tag @screencast.logo.url(:medium), class:"rounded float-left mr-3" %>
    <h5 class="card-title"><%= @screencast.no %>. <%= @screencast.name %></h5>
    <p><strong>Questions count:</strong><%= @screencast.q_count %></p>
    <p><strong>Video:</strong><%= @screencast.video %></p>
    <p><strong>Free:</strong><%= @screencast.free %></p>
    <video id="my-video" class="video-js" controls preload="auto" width="640" height="264"                                                                              poster="<%=@screencast.logo.url%>" data-setup="{}">
      <source src="<%=@screencast.video.url%>" type='video/mp4'>
      <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </video>

    <script src="https://vjs.zencdn.net/7.0.3/video.js"></script>
    <div class="clearfix">
      <%= link_to 'Edit SCREENCAST', edit_screencast_path(@screencast), class:"btn btn-outline-primary"%> 
      <%= link_to 'Back to SECTION', @screencast.section, class:"btn btn-outline-primary" %>
    </div>
  </div>
</div>
<br/>

<div class="card">
  <div class="card-header"> QUESTIONS OF <%=@screencast.name%></div>

  <div class="card-body">
    <table class="table">

      <thead>
        <tr>
          <th>No</th>
          <th>Question</th>
          <th>Details</th>
          <th>Score</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @screencast.quizzes.each do |quiz| %>
          <tr>
            <td><%= quiz.no %></td>
            <td><%= quiz.question %></td>
            <td><%= quiz.details %></td>
            <td><%= quiz.score %></td>
            <td><%= link_to 'Show', quiz %></td>
            <td><%= link_to 'Edit', edit_quiz_path(quiz) %></td>
            <td><%= link_to 'Destroy', [@screencast,quiz], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %> </tbody>
    </table>
    <%= link_to 'New Quiz', new_screencast_quiz_path(@screencast) %>
  </div>
</div>
