<p id="notice"><%= notice %></p>

<h1>Subjects</h1>

<table class="table">
  <thead>
    <tr>
      <th>No</th>
      <th>Logo</th>
      <th>Name</th>
      <th>Lang</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.no %></td>
        <td><%= image_tag subject.logo.url(:thumb) %></td>
        <td><%= subject.name %></td>
        <td><%= subject.lang %></td>
        <td><%= subject.description %></td>
        <td><%= link_to 'Show', subject %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_subject_path %>
