<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-header">
    SUBJECT
  </div>
  <div class="card-body">
    <%= image_tag @subject.logo.url(:medium), class:"rounded float-left mr-3" %>
    <h5 class="card-title"><%= @subject.no %>.<%= @subject.name %></h5>
    <p class="card-text"><%= @subject.lang %></p>
    <p class="card-text"><%= @subject.description %></p>
    <div class="clearfix">
      <%= link_to 'Edit SUBJECT', edit_subject_path(@subject), class:"btn btn-outline-primary"%> 
      <%= link_to 'Back TO LIST', subjects_path, class:"btn btn-outline-primary" %>
    </div>
  </div>
</div>
<br/>

<div class="card">
  <div class="card-header">
    COURSES OF <%=@subject.name%> 
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Description</th>
          <th>Logo</th>
          <th>Level</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @subject.courses.each do |course| %>
          <tr>
            <td><%= course.no %></td>
            <td><%= course.name %></td>
            <td><%= course.description %></td>
            <td><%= image_tag course.logo.url(:thumb) %></td>
            <td><%= course.level %></td>
            <td><%= link_to 'Show', course %></td>
            <td><%= link_to 'Edit', edit_course_path(course) %></td>
            <td><%= link_to 'Destroy', [@subject,course], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<%= link_to 'New Course', new_subject_course_path(@subject),class:"btn btn-outline-secondary" %>
  </div>
</div>
<br>

