<%= form_with(model: [course,section], local: true) do |form| %>
  <% if section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
        <% section.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :no %>
    <%= form.text_field :no, id: :section_no , class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :section_name , class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_field :description, id: :section_description , class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label :q_count, "quiz questions count" %>
    <%= form.text_field :q_count, id: :section_q_count , class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label :q_pass, "pass_score" %>
    <%= form.text_field :q_pass, id: :section_q_pass , class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-outline-primary" %>
    <%= link_to 'Back',course||section,class:"btn btn-outline-primary" %>
  </div>
<% end %>
