<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-header">
    SECTION OF <%=link_to @section.course.name,@section.course %>
</div>
<div class="card-body">
  <h5 class="card-title"><%= @section.no %>. <%= @section.name %></h5>
  <p class="card-text"><%= @section.description %></p>
  <p class="card-text"><%= @section.q_count%></p>
  <p class="card-text"><%= @section.q_pass%></p>
  <div class="clearfix">
    <%= link_to 'Edit SECTION', edit_section_path(@section), class:"btn btn-outline-primary"%> 
    <%= link_to 'Back TO COURSE', @section.course, class:"btn btn-outline-primary" %>
  </div>
</div>
</div>
<br/>

<div class="card">
  <div class="card-header"> SCREENCASTS OF <%=@section.name%></div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Logo</th>
          <th>Video</th>
          <th>Questions count</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @section.screencasts.each do |screencast| %>
          <tr>
            <td><%= screencast.no %></td>
            <td><%= screencast.name %></td>
            <td><%= image_tag screencast.logo.url(:thumb) %></td>
            <td><%= screencast.video %></td>
            <td><%= screencast.q_count %></td>
            <td><%= link_to 'Show', screencast %></td>
            <td><%= link_to 'Edit', edit_screencast_path(screencast) %></td>
            <td><%= link_to 'Destroy', [@section,screencast], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Screencast', new_section_screencast_path(@section),class:"btn btn-outline-secondary" %>
  </div>
</div>

<div class="card">
  <div class="card-header"> QUESTIONS OF <%=@section.name%></div>

  <div class="card-body">
    <table class="table">

      <thead>
        <tr>
          <th>Question</th>
          <th>Details</th>
          <th>Score</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @section.exams.each do |exam| %>
          <tr>
            <td><%= exam.question %></td>
            <td><%= exam.details %></td>
            <td><%= exam.score %></td>
            <td><%= link_to 'Show', exam %></td>
            <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
            <td><%= link_to 'Destroy', [@section,exam], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %> </tbody>
    </table>
    <%= link_to 'New Exam Question', new_section_exam_path(@section) ,class:"btn btn-outline-secondary" %>
  </div>
</div>
<br>

