<%= form_with(model: [subject,course], local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :no %>
    <%= form.text_field :no, id: :course_no , class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :course_name , class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_field :description, id: :course_description , class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :logo %>
    <%= form.file_field :logo, id: :course_logo , class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :level %>
    <%= form.number_field :level, id: :course_level , class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-outline-primary" %>
<%= link_to 'Back',subject||course,class:"btn btn-outline-primary" %>
  </div>
<% end %>
