<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-header">
    COURSE OF <%=link_to @course.subject.name,@course.subject %>
</div>
<div class="card-body">
  <%= image_tag @course.logo.url(:medium), class:"rounded float-left mr-3" %>
  <h5 class="card-title"><%= @course.no %>. <%= @course.name %></h5>
  <p class="card-text"><%= @course.description %></p>
  <p><strong>Level:</strong><%= @course.level %></p>
  <div class="clearfix">
    <%= link_to 'Edit COURSE', edit_course_path(@course), class:"btn btn-outline-primary"%> 
    <%= link_to 'Back TO SUBJECT', @course.subject, class:"btn btn-outline-primary" %>
  </div>
</div>
</div>
<br/>

<div class="card">
  <div class="card-header"> LECTORS OF <%=@course.name%>i</div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Fullname</th>
          <th>Level</th>
          <th>Degree</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @course.lectors.each do |lector| %>
          <tr>
            <td><%= image_tag lector.photo.url(:thumb) %></td>
            <td><%= lector.fullname %></td>
            <td><%= lector.level %></td>
            <td><%= lector.degree %></td>
            <td><%= link_to 'Destroy', remove_lector_path(@course.id,lector.id), data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>
    <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Add lector
    </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Fullname</th>
              <th>Level</th>
              <th>Degree</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @lectors.each do |lector| %>
              <tr>
                <td><%= image_tag lector.photo.url(:thumb) %></td>
                <td><%= lector.fullname %></td>
                <td><%= lector.level %></td>
                <td><%= lector.degree %></td>
                <td><%= link_to 'Select', add_lector_path(@course.id, lector.id) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header"> SECTIONS OF <%=@course.name%>i</div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @course.sections.each do |section| %>
          <tr>
            <td><%= section.no %></td>
            <td><%= section.name %></td>
            <td><%= section.description%></td>
            <td><%= link_to 'Show', section %></td>
            <td><%= link_to 'Edit', edit_section_path(section) %></td>
            <td><%= link_to 'Destroy', [@course,section], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New section', new_course_section_path(@course),class:"btn btn-outline-secondary" %>
  </div>
</div>

<br>

