html, body{
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin: 0px;
  width: 100%;
  height: 100%;
  padding: 0;
  div#fieldToShow{
  height: 100%;
}

}

div.main {
  width:100%;

  div.container{
    width:70%;
    margin: 0 auto;
  }
  div.flex{ display: flex; }
  div.column{ flex-direction: column; }
  div.row{ flex-direction: row; }
  div.wrap{ flex-wrap: wrap }

  div.menu{
    align-items: center;
    .p-menu-button{
      text-align:right!important;
    }
    .m-menu-button{
      flex-grow: 0;
    }
  }
}

@media only screen and (max-width : 992px) {
  div.main{
    div.container {
      width:90%;
      margin: 0 auto;
    }
  }
}
@media only screen and (max-width : 650px) {
  div.main{
    div.container{
      width:95%;
      margin: 0 auto;

      div.menu{
        .p-menu-button{
          display:none!important;
        }
        .m-menu-button{
          flex-grow:1;
        }
      }
    }
  }
}
