<%= form_with(model: [screencast,quiz], local: true) do |form| %>
  <% if quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :no%>
    <%= form.text_field :no, id: :quiz_no , class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :question %>
    <%= form.text_field :question, id: :quiz_question , class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :details %>
    <%= form.text_field :details, id: :quiz_details, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :score %>
    <%= form.number_field :score, id: :quiz_score, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit  class:"btn btn-outline-primary" %>
<%= link_to 'Back',screencast||quiz,class:"btn btn-outline-primary" %>
  </div>
<% end %>
