<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-header">QUESTIONS FOR 
    <%= link_to @quiz.screencast.name, @quiz.screencast %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @quiz.no%>. <%= @quiz.question%></h5>
    <p><strong>Details:</strong><%= @quiz.details %></p>
    <p><strong>Score:</strong> <%= @quiz.score %></p>
    <div class="clearfix">
      <%= link_to 'Edit QUIZ', edit_quiz_path(@quiz), class:"btn btn-outline-primary"%> 
      <%= link_to 'Back to SCREENCAST', @quiz.screencast, class:"btn btn-outline-primary" %>
    </div>
  </div>
</div>
<br/>

<div class="card">
  <div class="card-header">OPTIONS FOR <%=@quiz.question%></div>

  <div class="card-body">
    <table class="table">

      <thead>
        <tr>
          <th>Correct</th>
          <th>Value</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @quiz.options.each do |option| %>
          <tr>
            <td><%= option.correct %></td>
            <td><%= option.value %></td>
            <td><%= link_to 'Edit', edit_option_path(option) %></td>
            <td><%= link_to 'Destroy', [option.quiz,option], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Option', new_quiz_option_path(@quiz), class:"btn btn-outline-secondary" %>
  </div>
</div>
<div class="card">
  <div class="card-header">IMAGES OF <%=@quiz.question%></div>

  <div class="card-body">
    <table class="table">

      <thead>
        <tr>
          <th>Title</th>
          <th>Image</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @quiz.imgs.each do |img| %>
          <tr>
            <td><%= img.title %></td>
            <td><%= image_tag img.img.url(:thumb) %></td>
            <td><%= link_to 'Edit', edit_img_path(img) %></td>
            <td><%= link_to 'Destroy', [img.quiz,img], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Image', new_quiz_img_path(@quiz), class:"btn btn-outline-secondary" %>
  </div>
</div>
