<%= form_with(model: [@exam,@answer], local: true) do |form| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
        <% @answer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :value %>
    <%= form.text_field :value, id: :answer_value , class:"form-control"%>
  </div>

  <div class="field form-group">
    <div class="checkbox-inline">
      <%= form.check_box :correct%>
      <%= form.label :correct %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit  class:"btn btn-outline-primary" %>
    <%= link_to 'Back',@answer.exam,class:"btn btn-outline-primary" %>
  </div>
<% end %>
