<%= form_with(model: [quiz,option], local: true) do |form| %>
  <% if option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
        <% option.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :value %>
    <%= form.text_field :value, id: :option_value , class:"form-control"%>
  </div>

  <div class="field form-group">
    <div class="checkbox-inline">
      <%= form.check_box :correct%>
      <%= form.label :correct %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit  class:"btn btn-outline-primary" %>
    <%= link_to 'Back',option.quiz,class:"btn btn-outline-primary" %>
  </div>
<% end %>
