<%= form_with(model: [section,exam], local: true) do |form| %>
  <% if exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :no %>
    <%= form.text_field :no, id: :exam_no , class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label :question %>
    <%= form.text_field :question, id: :exam_question , class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :details %>
    <%= form.text_field :details, id: :exam_details, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :score %>
    <%= form.number_field :score, id: :exam_score, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit  class:"btn btn-outline-primary" %>
<%= link_to 'Back',section||exam,class:"btn btn-outline-primary" %>
  </div>
<% end %>
