<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-header">QUESTIONS FOR 
    <%= link_to @exam.section.name, @exam.section%>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @exam.no%>. <%= @exam.question%></h5>
    <p><strong>Details:</strong><%= @exam.details %></p>
    <p><strong>Score:</strong> <%= @exam.score %></p>
    <div class="clearfix">
      <%= link_to 'Edit EXAM Question', edit_exam_path(@exam), class:"btn btn-outline-primary"%> 
      <%= link_to 'Back to SECTION', @exam.section, class:"btn btn-outline-primary" %>
    </div>
  </div>
</div>
<br/>

<div class="card">
  <div class="card-header">OPTIONS FOR <%=@exam.question%></div>

  <div class="card-body">
    <table class="table">

      <thead>
        <tr>
          <th>Correct</th>
          <th>Value</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @exam.answers.each do |answer| %>
          <tr>
            <td><%= answer.correct %></td>
            <td><%= answer.value %></td>
            <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
            <td><%= link_to 'Destroy', [answer.exam,answer], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Option', new_exam_answer_path(@exam), class:"btn btn-outline-secondary" %>
  </div>
</div>
<div class="card">
  <div class="card-header">PICS OF <%=@exam.question%></div>

  <div class="card-body">
    <table class="table">

      <thead>
        <tr>
          <th>Title</th>
          <th>Image</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @exam.pics.each do |pic| %>
          <tr>
            <td><%= pic.title %></td>
            <td><%= image_tag pic.img.url(:thumb) %></td>
            <td><%= link_to 'Edit', edit_pic_path(pic) %></td>
            <td><%= link_to 'Destroy', [pic.exam,pic], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Image', new_exam_pic_path(@exam), class:"btn btn-outline-secondary" %>
  </div>
</div>
