<%= form_with(model: lector, local: true) do |form| %>
  <% if lector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lector.errors.count, "error") %> prohibited this lector from being saved:</h2>

      <ul>
      <% lector.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :fullname %>
    <%= form.text_field :fullname, id: :lector_fullname, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label :level %>
    <%= form.text_field :level, id: :lector_level, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label :degree %>
    <%= form.text_field :degree, id: :lector_degree, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :photo %>
    <%= form.file_field :photo, id: :lector_photo, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-outline-primary" %>
<%= link_to 'Back', @lector||lectors_path,class:"btn btn-outline-primary"  %>
  </div>
<% end %>
