<p id="notice"><%= notice %></p>

<h1>Lectors</h1>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Fullname</th>
      <th>Level</th>
      <th>Degree</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lectors.each do |lector| %>
      <tr>
        <td><%= image_tag lector.photo.url(:thumb) %></td>
        <td><%= lector.fullname %></td>
        <td><%= lector.level %></td>
        <td><%= lector.degree %></td>
        <td><%= link_to 'Show', lector %></td>
        <td><%= link_to 'Edit', edit_lector_path(lector) %></td>
        <td><%= link_to 'Destroy', lector, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lector', new_lector_path %>
