<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-header">
   Lector 
  </div>
  <div class="card-body">
    <%= image_tag @lector.photo.url(:medium), class:"rounded float-left mr-3" %>
    <h5 class="card-title"><%= @lector.fullname %></h5>
    <p class="card-text"><%= @lector.level %></p>
    <p class="card-text"><%= @lector.degree%></p>
    <div class="clearfix">
      <%= link_to 'Edit', edit_lector_path(@lector), class:"btn btn-outline-primary" %> 
      <%= link_to 'Back', lectors_path , class:"btn btn-outline-primary"%>
    </div>
  </div>
</div>
<br/>
<div class="card">
  <div class="card-header">
    COURSES OF <%=@lector.fullname%> 
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Level</th>
        </tr>
      </thead>

      <tbody>
        <% @lector.courses.each do |course| %>
          <tr>
            <td><%= course.name %></td>
            <td><%= course.description %></td>
            <td><%= course.level %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
