<%= form_with(model: [@user,user_course], local: true) do |form| %>
  <% if user_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_course.errors.count, "error") %> prohibited this user_course from being saved:</h2>

      <ul>
        <% user_course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :course_id %>
    <%= form.text_field :course_id, id: :user_course_course_id, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-outline-primary" %>
    1
    <%= link_to 'Back',@user,class:"btn btn-outline-primary" %>
  </div>
<% end %>
