<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if !@edit_password %>
    <div class="field form-group">
      <%= form.label :username %>
      <%= form.text_field :username, id: :user_username, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :fullname %>
      <%= form.text_field :fullname, id: :user_fullname, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :email %>
      <%= form.text_field :email, id: :user_email, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :phone %>
      <%= form.text_field :phone, id: :user_phone, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :lang %>
      <%= form.text_field :lang, id: :user_lang, class:"form-control" %>
    </div>
  <% end %>
  <% if @edit_password %>
    <div class="field form-group">
      <%= form.label :password %>
      <%= form.text_field :password, id: :user_password, class:"form-control" %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit class:"btn btn-outline-primary" %>
<%= link_to 'Back', @user||users_path,class:"btn btn-outline-primary"  %>
  </div>
<% end %>
