<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-header">
   User 
  </div>
  <div class="card-body">
    <h5 class="card-title">fullname: <%= @user.fullname %></h5>
    <p class="card-text">username: <%= @user.username %></p>
    <p class="card-text">email: <%= @user.email %></p>
    <p class="card-text">phone: <%= @user.phone %></p>
    <p class="card-text">lang: <%= @user.lang %></p>
    <div class="clearfix">
      <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-outline-primary" %> 
      <%= link_to 'Change password', edit_user_pwd_path(@user), class:"btn btn-outline-primary" %> 
      <%= link_to 'Back', users_path , class:"btn btn-outline-primary"%>
    </div>
  </div>
</div>
<br/>
<div class="card">
  <div class="card-header">
    COURSES OF <%=@user.fullname%> 
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Logo</th>
          <th>Level</th>
          <th>Lector</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @user.userCourses.each do |userCourse| %>
          <tr>
            <td><%= userCourse.course.name %></td>
            <td><%= userCourse.course.description %></td>
            <td><%= image_tag userCourse.course.logo.url(:thumb) %></td>
            <td><%= userCourse.course.level %></td>
            <td><%= userCourse.course.lector %></td>
            <td><%= link_to 'Edit', edit_user_course_path(userCourse) %></td>
            <td><%= link_to 'Destroy', [@user,userCourse], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<%= link_to 'Add Course', new_user_user_course_path(@user),class:"btn btn-outline-secondary" %>
  </div>
</div>
